@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}


body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  background-color: #f7e296;

  }

  .site-navigation,
  .user-navigation,
  .products-group,
  .service-navigation {
    list-style: none;
  }

  .site-navigation a,
  .user-navigation a {
    color: #000000;
  }

  .user-navigation a {
    font-family: "OpenSans" ;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.01em;
    text-transform: capitalize;
  }


  .about,
  .contacts,
  .service {
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    letter-spacing: 0.01em;
    text-transform: capitalize;
  }

  a {
    color: #000000;
  }

.service {
  font-family: "OpenSans" ;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none ;
}

.partners {
  text-transform: none ;
  letter-spacing: 0;

}
.button,
{
  background-color: #f7e296;
  background-size: 260px 8px;
}

  .main-footer {
    background-color: #464646;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  .user-navigation {
    font-family: "OpenSans" ;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.01em;
    text-transform: none;
  }

.service-navigation {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.address,
.phone {
  font-family: "OpenSans";
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none ;
}
legend {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}

.good-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: capitalize;

}

.good-price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: none;
}


  .modal-map,
  .feedback-form {
    display: none;
  }
